{% extends "admin/bars.html.twig" %}

{% block title %}New Reclamation{% endblock %}

{% block contenpage %}
    <h1>Créer une nouvelle réclamation</h1>

    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('app_reclamation_index') }}">back to list</a>
{% endblock %}
