<form method="post" action="{{ path('app_demande_info_delete', {'id': demande_info.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ demande_info.id) }}">
    <button class="btn">Delete</button>
</form>
